#app > aside {
    padding: 20px;
    padding-right: 0;
    display: flex;
    flex-flow: column;
    gap: 10px;
    align-items: center;
}

#app > aside nav {
    background-color: var(--primary-color);
    padding: 10px;
    border-radius: 20px;
    margin-right: 0;
    display: flex;
    flex-direction: column;
    gap: 20px;
    height: 100%;

    a {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 5px;
        color: #d2dff9;
        font-size: 13px;

        & span {
            width: 50px;
            height: 50px;
            background-color: #d2dff9;
            border-radius: 15px;
            display: flex;
            justify-content: center;
            align-items: center;
            color: #2a5a8a;
        }

        &.link-active span, &:hover span {
            color: #1f62a5;
            background-color: #aac5fc;
        }

        &[aria-label="settings"] {
            margin-top: auto;
        }
    }
}