#app > aside {
    background-color: var(--primary-color);
    padding: 20px 0;
    border-radius: 20px;
    margin: 15px;
    margin-right: 0;

    & nav {
        display: flex;
        flex-direction: column;
        gap: 30px;
        height: 100%;
    }

    & a {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 10px;
        color: #d2dff9;
        font-size: 13px;

        & span {
            width: 50px;
            height: 50px;
            background-color: #d2dff9;
            border-radius: 15px;
            display: flex;
            justify-content: center;
            align-items: center;
            color: #2a5a8a;
        }

        &.link-active span, &:hover span {
            color: #1f62a5;
            background-color: #aac5fc;
        }

        &:last-of-type {
            margin-top: auto;
        }
    }
}