body {
    background-color: var(--background-color);
    color: var(--text-color);
}

#app:has(header, main, aside) {
    height: 100vh;
    display: grid;
    grid-template-areas:
        "aside header"
        "aside main";

    grid-template-rows: 75px auto;
    grid-template-columns: 95px auto;

    > header {
        grid-area: header;
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 0 30px;

        > h1 {
            font-size: 1.4rem;
            color: rgba(var(--text-color-rgb), 0.4);
        }
    }

    > main {
        grid-area: main;
        padding: 0 30px 30px 30px;
        height: calc(100vh - 75px);
        overflow: scroll;
    }

    > aside {
        grid-area: aside;
    }
}

#app:has(main):not(:has(aside)) {
    display: grid;
    place-items: center;
    height: 100vh;
}

.toolbar {
    display: flex;
    align-items: center;
    gap: 10px;

    > .user-info, > .sk-dropdown__button {
        background-color: var(--table-color);
        border-radius: 15px;
    }

    > .user-info {
        width: 150px;
        font-size: 12px;
        padding: 7px 20px;
    
        > p:nth-child(2) {
            color: rgba(var(--text-color-rgb), 0.4);
        }
    }

    > .sk-dropdown__button {
        height: 45px;
        width: 45px;
        padding: 7px 5px;

        svg {
            width: 100%;
            height: 100%;
            fill: var(--text-color);
        }
    }
}