@import './reset.css';
@import './variables.css';
@import './layout.css';
@import './aside.css';
@import './select.css';
@import './table.css';
@import './dialog.css';

.add-button {
    background-color: var(--primary-color);
    color: #fff;
    border-radius: 50%;
    height: 40px;
    width: 40px;

    & svg {
        width: 30px;
        height: 30px;
    }
}