@import './reset.css';
@import './variables.css';
@import './layout.css';
@import './aside.css';
@import './select.css';
@import './table.css';
@import './dialog.css';

.add-button {
    background-color: var(--primary-color);
    color: #fff;
    border-radius: 15px;
    height: 40px;
    width: 40px;

    & svg {
        width: 30px;
        height: 30px;
    }
}

.sk-form {
    > input, > .sk-select {
        margin-bottom: 15px;
    }

    > label {
        display: block;
        margin-bottom: 5px;
        margin-left: 5px;
    }

    > button[type="submit"] {
        margin-top: 15px;
        float: right;
    }
}

.sk-input {
    border: 2px solid rgba(177, 177, 177, 0.301);
    width: 100%;
    background-color: var(--table-color);
    border-radius: 15px;
    padding: 12px 20px;
    font-size: 1rem;
    box-sizing: border-box;
    outline: none;
    transition: border-color 0.2s ease-in-out, box-shadow 0.2s ease-in-out;

    &:focus {
        border-color: var(--primary-color);
        box-shadow: var(--shadow);
    }
}

.sk-button {
    background-color: var(--primary-color);
    color: #fff;
    border-radius: 15px;
    padding: 12px 20px;
    font-size: 1rem;
    cursor: pointer;
    transition: box-shadow 0.2s ease-in-out;

    &:hover {
        box-shadow: var(--shadow);
    }

    &.block {
        width: 100%;
    }
}

.page-enter-active,
.page-leave-active {
    transition: opacity 0.2s ease;
}
.page-enter-from,
.page-leave-to {
    opacity: 0;
}