.popover__list {
    display: flex;
    flex-direction: column;
    gap: 15px;
    width: 155px;

    & button {
        display: flex;
        align-items: center;
        gap: 10px;
        width: 100%;
        background-color: var(--background-color);
        padding: 10px 15px;
        border-radius: 10px;
        font-size: 14px;
    }
}

.popover--bottom-right {
    top: anchor(bottom);
    right: anchor(right);
    transform: translate(0, 10px);
}

.sk-popover {
    border: unset;
    border-radius: 15px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    padding: 20px;
    background-color: var(--background-color);

    max-height: unset;
    overflow: unset;
    max-width: unset;

    inset-area: bottom span-right;
    position-try-options: flip-block, flip-inline, flip-block flip-inline;;
}

.sk-tooltip {
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    border-radius: 15px;
    padding: 5px 10px;
    background-color: var(--background-color);
    inset-area: top;
    position-try-options: flip-block;
}