* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

label {
    display: block;
}

a {
    text-decoration: none;
}

input {
    border: none;
    outline: none;
    height: 40px;
    border-radius: 15px;
    padding: 0 15px;
}

button {
    border: unset;
    outline: unset;
    cursor: pointer;
    background-color: transparent;
}