@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

label {
    display: block;
}

a {
    text-decoration: none;
}

input {
    border: none;
    outline: none;
    background-color: transparent;
}

button {
    border: unset;
    outline: unset;
    cursor: pointer;
    background-color: transparent;
}

ul {
    list-style: none;
}

*[popover] {
    border: unset;
    background-color: var(--table-color);
    box-shadow: 0px 10px 15px -3px rgba(0,0,0,0.1);
}