.sk-select {
    position: relative;
}

.sk-select__input {
    height: 50px;
}

.sk-select__options {
    position: absolute;
    top: 100%;
    left: 0;
    right: 0;
    z-index: 1;
    background-color: red;
    visibility: hidden;

    & ul {
        margin: 0;
        padding: 0;
        list-style: none;
    }

    &.show {
        visibility: visible;
    }
}