.sk-table {
    border-collapse: separate;
    border-spacing: 0 10px;
    width: 100%;

    --border-radius: 12px;
    --padding: 15px;

    &.hover tbody tr:hover:not(:has(a:hover), .table-empty) {
        cursor: pointer;
        background-color: rgba(var(--table-color-rgb), 0.4);
    }

    & tr {
        background-color: var(--table-color);
        transition: background-color 0.2s;
    }

    & th, & td {
        line-height: 1.5;
        vertical-align: middle;
        text-align: left;
    }

    & th {
        padding: 8px var(--padding);
        color: rgba(var(--text-color-rgb), 0.8);
    }

    & td {
        padding: var(--padding);
    }

    & th:first-child, & td:first-child {
        border-bottom-left-radius: var(--border-radius);
        border-top-left-radius: var(--border-radius);
        padding-left: var(--padding);
    }

    & th:last-child, & td:last-child {
        border-bottom-right-radius: var(--border-radius);
        border-top-right-radius: var(--border-radius);
        padding-right: var(--padding);
    }

    & .table-empty td {
        height: 200px;
        text-align: center;
    }
}

.sk-pagination {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;

    & button {
        width: 30px;
        height: 30px;
        border-radius: 10px;
        font-size: 16px;

        /* Last two and first two */
        &:nth-child(1), &:nth-child(2), &:nth-last-child(1), &:nth-last-child(2) {
            background-color: #cacbcf;
            color: #fff;
            font-size: 35px;
            font-weight: 300;
            line-height: .1;

            @media (prefers-color-scheme: dark) {
                background-color: #2c2d30;
            }
        }
    }
}

.sk-toolbar {
    display: flex;
    gap: 15px;
}

.input-search {
    background-color: var(--table-color);
    border-radius: 15px;
    display: flex;
    align-items: center;
    padding-right: 10px;
    border: 2px solid transparent;
    transition: border-color 0.2s ease-in-out, box-shadow 0.2s ease-in-out;

    & svg {
        width: 20px;
        height: 20px;
        color: gray;
    }

    & input {
        height: 40px;
        width: 300px;
        padding: 0 15px;
        font-size: 15px;
    }

    &:has(input:focus) {
        border-color: var(--primary-color);
        box-shadow: var(--shadow);
    }
}

.sk-grid {
    display: grid;
    grid-template-columns: repeat(3, minmax(300px, 1fr));
    gap: 15px;
    margin: 10px 0;

    &.hover li:hover {
        cursor: pointer;
        background-color: rgba(var(--table-color-rgb), 0.4);
    }

    & li {
        background-color: var(--table-color);
        border-radius: 15px;
        padding: 15px 20px;
        display: flex;
        align-items: center;
        gap: 10px;
    }
}

.table-actions {
    display: flex;
    gap: 10px;
    margin-left: auto;

    > button {
        border-radius: 15px;
        height: 40px;
        width: 40px;
        padding-top: 5px;
    }
}