.ml-auto {
    margin-left: auto;
}

.mr-1 {
    margin-right: 0.5rem;
}

.d-flex {
    display: flex;
}

.d-2-haft {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1rem;
}